{% extends 'base.html' %}

{% block content %}
    <div class="col-md-6 container">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">{{ header }} {{ object.producto }}</h3>
            </div>
            {% if form.errors or form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible w-75 container mt-2">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-ban"></i> Error!</h5>
                    {% for fields in form %}
                        {% for error in fields.errors %}
                            {{ fields.label }} : {{ error }} <br>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        {{ error.label }}  {{ error }} <br>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post" action="">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputPassword1">{{ form.producto.label }}:</label>
                        {{ form.producto }}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">{{ form.cantidad.label }}:</label>
                        {{ form.cantidad }}
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">{{ form.unidad.label }}:</label>

                        <select class="w-50 form-control" name="unidad">
                            {% for u in unidades %}
                                <option>{{ u }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">{{ form.precio.label }}:</label>
                        {{ form.precio }}
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">{{ boton }}</button>
                    <a href="{{ success_url }}" type="submit" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
{% endblock %}