{% load static %}
<!DOCTYPE html>
<html lang="es" style="height: auto;"><!-- Head -->
{% include 'includes/head.html' %}
<body class="sidebar-mini layout-fixed" style="height: auto;">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->

    {% include 'includes/navbar.html' %}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {% include 'includes/sidebar.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 543px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{{ titulo }}</h1>
                        {% if path != 'buscando' %}
                            <p class="text-center col-12">{{ texto }}</p>
                        {% endif %}
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        {% if path == 'detallesEmpresa' %}
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'alarmas' %}">alarmas</a></li>
                                <li class="breadcrumb-item active">detalles</li>
                            </ol>
                        {% endif %}
                        {% if path == 'detallesRoot' %}
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'ListEmpresas' %}">Empresas</a></li>
                                <li class="breadcrumb-item active">{{ object }}</li>
                            </ol>
                        {% endif %}

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <section class="content">

            {% block content %}

            {% endblock %}
        </section>


        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        Developed by: <strong>GodDjango.</strong>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    <div id="sidebar-overlay"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->


</body>
</html>